{% extends 'base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('style.css') }}">

{% endblock %}

{% block body %}

    <div class="title">
        <div class="padding">
            <h1>What's On Tonight?</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="re-roll" onclick="reRoll()">
            <div class="padding">
                <i class="fa fa-3x fa-random"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="response">
                <a id="food-url" href="" target="_blank">
                    <div class="padding">
                        <h2>What Should We Eat?</h2>
                        <hr>
                        <i class="fa fa-cutlery"></i>
                        <h3 class="text-truncate" id="food"></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="quality">
                <a id="drink-url" href="" target="_blank">
                    <div class="padding">
                        <h2>What Should We Drink?</h2>
                        <hr>
                        <i class="fa fa-glass"></i>
                        <h3 class="text-truncate" id="drink"></h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="dessert">
                <a id="movie-url" href="" target="_blank">
                    <div class="padding">
                        <h2>What Should We Watch?</h2>
                        <hr>
                        <i class="fa fa-film"></i>
                        <h3 class="text-truncate" id="movie"></h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    {#<div class="text-center">#}
            {#{% if app.request.get('_route') == 'drink_index' %}#}
            {#<img src="https://s-media-cache-ak0.pinimg.com/originals/0a/11/7e/0a117e249aea6c82634efbb9720e8826.jpg" width="25%">#}
            {#{% elseif app.request.get('_route') == 'food_index' %}#}
            {#<img src="https://www.thisolemom.com/wp-content/uploads/2017/02/Smoke-Alarm-Cheers-Me.jpg" width="25%">#}
            {#{% endif %}#}
            {#<br><br>#}
            {#<form action="{{ (app.request.get('_route') == 'drink_index') ? path('drink_recipe') : path('food_recipe')}}" method="post">#}
                {#<div class="form-group row">#}
                    {#<div class="col-12">#}
                        {#<input class="form-control text-center"#}
                               {#name="search"#}
                               {#placeholder="{{ (app.request.get('_route') == 'drink_index') ? 'Enter drink recipe or ingredients (separated with space)' : 'Enter food recipe or ingredients (separated with , )' }}"#}
                               {#id="example-search-input">#}
                    {#</div>#}
                {#</div>#}
                {#<input type="submit"#}
                       {#value="{{ (app.request.get('_route') == 'drink_index') ? "Cheers Darlin'" : 'Me want food!' }}">#}
            {#</form>#}
        {#<br>#}
    {#</div>#}

{% endblock body %}

{% block javascripts %}

    <script type="text/javascript">
        //Thanks for all the likes! Be sure to check out the new pen with geolocation based results!
        //https://codepen.io/azureknight/pen/VYEBGZ
        var $food = ['California maki', 'Butter chicken', 'Bahn mi', 'Bobun'];
        var $fastRandom = Math.floor($food.length * Math.random());
        var $randomFast = $food[$fastRandom];
        var $drink = ['Aperol Spritz', 'Pisco Sour', 'Mai tai', 'Tequila Sunrise'];
        var $restRandom = Math.floor($drink.length * Math.random());
        var $randomRest = $drink[$restRandom];
        var $movie = ['Dernier train pour Busan', 'The Amityville Horror', 'Dorothy', 'The Thing', 'Sharknado' ];
        var $movieRandom = Math.floor($movie.length * Math.random());
        var $randomDest = $movie[$movieRandom];
        function reRoll(){
            var food = $food[Math.floor($food.length * Math.random())];
            var drink = $drink[Math.floor($drink.length * Math.random())];
            var movie = $movie[Math.floor($movie.length * Math.random())];
            $('#food').text(food);
            $('#drink').text(drink);
            $('#movie').text(movie);
            $('#food-url').attr("href", 'food/recipe/' + food);
            $('#drink-url').attr("href", 'food/recipe/' + drink);
            $('#movie-url').attr("href", 'https://www.netflix.com/search?q=' + movie);
        }
        $(document).ready(function(){
            $('#food').text($randomFast);
            $('#drink').text($randomRest);
            $('#movie').text($randomDest);
            $('#food-url').attr("href", '/food/recipe/' + $randomFast);
            $('#drink-url').attr("href", '/drink/recipe/' + $randomRest);
            $('#movie-url').attr("href", 'https://www.netflix.com/search?q=' + $randomDest);
        });
    </script>

{% endblock %}
